#products_section {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    .container {
      width: 1200px;
      border-top: 1px solid #888888;
      padding-top: 20px;
      padding-bottom: 20px;
      .categories {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: start;
        .border {
          width: 15px;
          height: 25px;
          border-radius: 3px;
          background-color: #db4444;
        }
        h3 {
          font-size: 24px;
          color: #db4444;
        }
      }
      .products_category {
        margin-top: 10px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
          font-size: 36px;
          letter-spacing: 1.44px;
        }
        .butons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 3px;
          i {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: gray;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              background-color: #db4444;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
      .products{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;
        gap: 10px;
        ul {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          gap: 5px;
          .photo {
            position: relative;
            &:hover {
              .add_basket {
                height: 45px;
              }
            }
            img {
              width: 100%;
              height: 250px;
            }
            .wish {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 10px;
              right: 10px;
              transition: 400ms;
              &:hover {
                background-color: #db4444;
                color: white;
                cursor: pointer;
              }
            }
            .detail {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              display: flex;
              background-color: white;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 60px;
              right: 10px;
              transition: 400ms;
              &:hover {
                background-color: #db4444;
                color: white;
                cursor: pointer;
              }
            }
            .add_basket{
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 0px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: black;
              overflow: hidden;
              transition: 500ms;
              cursor: pointer;
              color: white;
              &:hover {
                background-color: #db4444;
              }
            }
          }
          li {
            font-size: 18px;
          }
          .price {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            .cost{
              color: #db4444;
            }
            i {
              color: yellow;
            }
          }
        }
      }
      .basket{
        min-height: 100vh;
        position: fixed;
        top: 0;
        width: 0;
        right: 0;
        z-index: 1;
        transition: 400ms;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        i{
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid white;
            color: white;
            top: 10px;
            left: 10px;
            cursor: pointer;
            color: white;
            transition: 200ms;
            &:hover{
                color: red;
                border: 1px solid red;
            }
        }
        .card{
            width: 200px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            ul{
                display: flex;
                flex-direction: column;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
              .butons{
                display: flex;
                align-items: center;
                button{
                  width: 120px;
                  height: 30px;
                  border-radius: 10px;
                  font-size: 14px;
                  background-color: rgb(255, 255, 255);
                  color: rgb(0, 0, 0);
                  cursor: pointer;
                  transition: 400ms;
                
                &:hover{
                  background-color: red;
                  color: white;
                }
              }
              .btn{
                  width: 35px;
                  height: 35px;
                  border-radius: 50%;
              }
              .add{
                  &:hover{
                      background-color: greenyellow;
                      color: black;
                  }
              }
              .del{
                  &:hover{
                      background-color: red;
                      color: black;
                  }
              }
              }
                img{
                    width: 100%;
                }
            }

        }

    }
    }
}
.aside{
  width: 400px !important;
  background-color: rgb(134, 134, 134);
}