#flash {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  .container {
    width: 1200px;
    .todays {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: start;
      .border {
        width: 15px;
        height: 25px;
        border-radius: 3px;
        background-color: #db4444;
      }
      h4 {
        font-size: 24px;
        color: #db4444;
      }
    }
    .flash_sales {
      margin-top: 10px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        gap: 25px;
        h2 {
          font-size: 33px;
          letter-spacing: 1.44px;
        }
        .timer {
          display: flex;
          gap: 15px;
          margin-left: 30px;
          .date {
            p {
              font-size: 16px;
            }
            h6 {
              font-size: 40px;
            }
          }
          .dotes {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            .dote {
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: #db4444;
            }
          }
        }
      }
      .butons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        i {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: gray;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: #db4444;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
    .slider {
        .slick-slider{
            .slick-prev {
                width: 40px ;
                height: 40px ;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50% ;
                background-color: #db4444 ;
                left: -20px ;
                top: 150px;
                z-index: 2;
            }
            .slick-next {
                width: 40px ;
                height: 40px ;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50% ;
                background-color: #db4444 ;
                right: -20px ;
                top: 150px;
                z-index: 2;
            }
        }
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .photo {
          position: relative;
          &:hover {
            .basket_add {
              height: 45px;
            }
          }
          img {
            width: 97%;
            height: 250px;
          }
          .sale {
            width: 60px;
            height: 30px;
            border-radius: 10px;
            background-color: #db4444;
            color: aliceblue;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 10px;
            left: 10px;
          }
          .wish {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: gray;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 10px;
            right: 10px;
            transition: 400ms;
            &:hover {
              background-color: #db4444;
              color: white;
              cursor: pointer;
            }
          }
          .detail {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: gray;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 60px;
            right: 10px;
            transition: 400ms;
            &:hover {
              background-color: #db4444;
              color: white;
              cursor: pointer;
            }
          }
          .basket_add {
            position: absolute;
            bottom: 0;
            width: 97%;
            height: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            overflow: hidden;
            transition: 500ms;
            cursor: pointer;
            color: white;
            &:hover {
              background-color: #db4444;
            }
          }
        }
        li {
          margin-top: 10px;
          font-size: 18px;
          button {
            display: none;
          }
        }

        .rate {
          margin-top: 10px;
          display: flex;
          align-items: center;
          gap: 5px;
          i {
            color: yellow;
          }
        }
      }
    }
    .buton{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 45px;
        a{
            width: 250px;
            height: 50px;
            border-radius: 10px;
            background-color: black;
            color: white;
            transition: 350ms;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 20px;
            &:hover{
                background-color: #db4444;
            }
        }
    }
  }
}
