.error {
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 115px; 
  letter-spacing: 3.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
